---
---

@import "{{ site.theme }}";

.title-header {
    @include large {
        max-width: 64rem;
        padding: 5rem 6rem;
        margin: 0 auto;
    }

    @include medium {
    }

    @include small {
    }
}

.title-container {
    position: relative;
    text-align: left;
}

.title-sidebar {
    position: absolute;
    top: 1em;
    right: 0px;
}

