---
---

@import "{{ site.theme }}";

.title_container {
    position: relative;

    @include large {
        max-width: 64rem;
        margin: 0 auto;
    }

    @include medium {
    }

    @include small {
    }
}

.title_sidebar {
    position: absolute;
    top: 1em;
    right: 0px;
}

